#root {
    height: 100vh;
}

html {
    height: 100%;
}

/* ----------------------------- Top-Level Setup ---------------------------- */
.logo {
    text-align: center;
}

.modal-input {
    width: 100%;
}

.login-modal {
    width: 350px;
}

.signup-modal {
    width: 375px;
}

.update-modal {
    width: 400px;
}

.modal-col-gap{
    column-gap: 24px;
}

.modal-button {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}

.modal-label {
    text-align: right;
}

.modal-spacer {
    height: 24px;
}

.main-login-modal {
    padding: 24px 24px 0px 24px;
}

.modal-error {
    height: 24px;
    align-items: center;
    display: flex;
}

.delete-modal {
    width: fit-content;
}

.modal-text {
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

.world-image {
    width: 666.6px;
    height: 444.6px;
}

.welcome-text {
    text-align: center;
}

.map-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.map-entries {
    overflow-y: scroll;
}

.header-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.region-entries {
    overflow-y: scroll;
}

.region-attribute {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 40px;
}

.table-input, .table-select {
    height: 100%;
    display: flex;
    align-items: center;
}

.table-input-class {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.table-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.125rem;
    padding-bottom: 12px;
    padding-top: 12px;
    cursor: pointer;
}

.table-entry-buttons {
    padding: 0;
    margin-left: 18px;
    margin-right: 18px;
}